* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    overflow: hidden;
    background-color: #1f1f1f;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.clc {
    position: absolute;
    width: 250px;
    height: 250px;
    background: #dd1e5bb7;
    border-radius: 50%;
    top: 50%;
    left: 40%;
    z-index: -1;
}

.clc2 {
    background: #1d2571;
    transform: translate(-100%, -100%);
}


.login_div {
    margin-top: 17rem;
    width: 55rem;
    height: 50vh;
    display: flex;
    background: rbga(255, 255, 255, 0.1);
    padding-top: 4rem;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.274);
    backdrop-filter: blur(18px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.705);
    border-radius: 10px;
    transition: 0.5s;


    div {
        width: 100%;
        height: 100%;
        top: 0;
        &:nth-child(1) {
            width: 100%;
            height: 90%;
            input {
                width: 40rem;
                height: 5vh;
                padding-left: 2rem;
                font-size: 2rem;
                outline: none;
                border-radius: 5px;
                background-color: transparent;
                border: 1px solid rgba(255, 255, 255, 0.274);
                backdrop-filter: blur(30px);
                box-shadow: 0 0 5px rgba(223, 223, 223, 0.315);
                color: whitesmoke;
                margin-bottom: 0.5rem;
                text-align: center;
            }
        
        
            button {
                margin-top: 2.5rem;
                width: 50rem;
                height: 5rem;
                border-radius: 5px;
                background-color: transparent;
                border: 1px solid rgba(255, 255, 255, 0.274);
                backdrop-filter: blur(30px);
                box-shadow: 0 0 5px rgba(223, 223, 223, 0.315);
                color: whitesmoke;
                transition: 0.4s;
                font-size: 2.5rem;
        
                &:hover {
                    background-color: rgba(0, 255, 26, 0.055);
                    border: 1px solid rgba(0, 255, 26, 0.607);
                    box-shadow: 0 0 5px rgba(0, 255, 26, 0.607);
                    transition: 0.4s;
                    cursor: pointer;
                }
        
            }
        
            p {
                margin-top: 1rem;
                text-align: center;
                font-size: 2rem;
        
            }
        
            h1 {
                font-size: 3rem;
                color: whitesmoke;
                margin-bottom: 6rem;
            }
        }

        &:nth-child(2) {
            background-color: rgba(255, 255, 255, 0.023);
            p {
                font-size: 1.5rem;
                color: rgba(245, 245, 245, 0.434);
                a {
                    text-decoration: none;
                    font-weight: 600;
                    color: rgba(245, 245, 245, 0.615);
                }
            }
            margin-top: 1rem;
            padding-bottom: 1rem;
            width: 100%;
            border-top: 1px solid rgba(255, 255, 255, 0.274);
            display: flex;
            justify-content: space-evenly;
            align-items: end;
        }
    }
}