* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    overflow: hidden;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    left: 2.5rem;
    top: 1rem;
    position: absolute;

    button {
        margin-top: 2rem;
        width: 12rem;
        height: 4.3rem;
        border-radius: 5px;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.274);
        backdrop-filter: blur(30px);
        box-shadow: 0 0 5px rgba(223, 223, 223, 0.315);
        color: whitesmoke;
        transition: 0.4s;
        font-size: 2rem;

        &:hover {
            background-color: rgba(255, 0, 0, 0.074);
            border: 1px solid rgba(255, 0, 0, 0.782);
            box-shadow: 0 0 5px 0 0 5px rgba(255, 0, 0, 0.607);
            transition: 0.4s;
            cursor: pointer;
        }
    }
}





.mn {
    width: 60rem;
    height: 90vh;
    display: flex;
    background: rbga(255, 255, 255, 0.1);
    padding-top: 3rem;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.274);
    backdrop-filter: blur(18px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.705);
    transition: 0.5s;

    textarea {
        width: 50rem;
        height: 35vh;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.274);
        backdrop-filter: blur(30px);
        box-shadow: 0 0 5px rgba(223, 223, 223, 0.315);
        color: whitesmoke;
        border-radius: 5px;
        outline: none;
        padding: 2rem;
        font-size: 2rem;
    }

    div {
        width: 100%;
        position: relative;
        margin: 15px 0;
        text-align: center;
        

        input {
            width: 50rem;
            height: 6vh;
            opacity: 0;
            z-index: 1;
            margin-left: -25rem;
            position: absolute; 

            &:hover {
                cursor: pointer;
            }
        }


        
        label {
            width: 50rem;
            height: 6vh;
            background: rbga(255, 255, 255, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.274);
            backdrop-filter: blur(18px);
            box-shadow: 0 0 5px rgba(223, 223, 223, 0.315);
            font-size: 1.125rem;
            font-weight: 700;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            border-radius: 3px;
            margin: 0 auto;

            span {
                &:first-child {
                    height: 5.1rem;
                    width: 5.1rem;
                    margin-right: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 2.5rem;
                    // border: 1px solid rgba(255, 255, 255, 0.274);
                }

                &:last-child {
                    color: rgba(245, 245, 245, 0.276);
                    font-size: 2rem;
                    margin-top: 1px;
                }
            }
        }

    }


    input {
        width: 50rem;
        height: 6vh;
        padding-left: 2rem;
        font-size: 2rem;
        outline: none;
        border-radius: 5px;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.274);
        backdrop-filter: blur(30px);
        box-shadow: 0 0 5px rgba(223, 223, 223, 0.315);
        color: whitesmoke;
        margin-bottom: 0.5rem;
        text-align: center;
    }


    button {
        margin-top: 5rem;
        width: 50rem;
        height: 5rem;
        border-radius: 5px;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.274);
        backdrop-filter: blur(30px);
        box-shadow: 0 0 5px rgba(223, 223, 223, 0.315);
        color: whitesmoke;
        transition: 0.4s;
        font-size: 2.5rem;

        &:hover {
            background-color: rgba(0, 255, 26, 0.055);
            border: 1px solid rgba(0, 255, 26, 0.607);
            box-shadow: 0 0 5px rgba(0, 255, 26, 0.607);
            transition: 0.4s;
            cursor: pointer;
        }

    }

    p {
        margin-top: 2rem;
        text-align: center;
        font-size: 2.3rem;

    }

    h1 {
        font-size: 5rem;
        color: whitesmoke;
        margin-bottom: 3rem;
    }
}





.clc {
    position: absolute;
    width: 250px;
    height: 250px;
    background: #dd1e5bb7;
    border-radius: 50%;
    top: 50%;
    left: 40%;
    z-index: -1;
}

.clc2 {
    background: #1d2571;
    transform: translate(-100%, -100%);
}



